:root {
  --primary-color: #D4AF37;
  --secondary-color: #0A2540;
  --bg-color: #F9FAFB;
  --text-color: #2c467e;
  --muted-text: #b9bcc4;
  --card-bg: #FFFFFF;
  --headertags-color:#6B7280;
  --anchor-color:#D4AF37;
  --button-text-color: #FFFFFF;
}
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}
p{
  color: var(--muted-text);
}
h1,h2,h3,h4,h5,h6{
  color: var(--headertags-color) !important;
}
.btn-primary-gold {
  background-color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
  color: var( --button-text-color) !important;
}

.btn-primary-gold:hover {
  background-color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
}

.btn-secondary-blue {
  background-color: var(--secondary-color) !important;
  border-color: var(--secondary-color) !important;
   color: var( --button-text-color) !important;
}
.btn-secondary-blue:hover {
  background-color: var(--secondary-color) !important;
  border-color: var(--secondary-color) !important;
}

.text-primary {
  color: var(--primary-color) !important;
}

.bg-header{
  background-color: var(--primary-color) !important;
}
.bg-about{
  background-color: var(--secondary-color) !important;
}

/* Additional post  styles can be added below */
.post-img
{
  width:100%;
height:175px;
overflow:hidden;
border-radius: 12px;
}
.post-img-featured
{
   width:100%;
height:400px;
overflow:hidden;
border-radius: 12px;  
}
.post-img img, .post-img-featured img{
  width:100%;
  height:100%;
  object-fit:cover;
  display:block;
  object-position: center;
}
.post-title a{
  color: var(--text-color);
  text-decoration: none;
}
.post-rm
{
  color: var(--anchor-color);
  text-decoration: none;;
}
/* nav link classes */
.nav-link.active {
  color: #ffc107 !important; /* gold */
  font-weight: 600;
}

/*Cateegory Page css */

.cat-item a
{
  color:var(--text-color);
  text-decoration: none;
  background-color: #ffc107;
  border-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  display:inline-block;
  margin:5px;
  padding:8px 12px;
  border-radius: 20px;
  font-size: smaller;
}
.cat-item span
{
  color: var(--muted-text);
  font-size: small;
}
.hr-hero
{
  color: var(--primary-color);
  box-shadow: #3747d4 0px 4px 12px;
  height:2px
}